body {
  background-color: #dadada;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

p {
  font-size: 16px;
  color: #333;
}
.contenedor {
  width: 80%;
  margin: auto;
  border: 2px solid black;
  padding: 20px;
}

.contenedor p {
  color: blue;
}
